@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../css/font/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: #222;
    background: #fff;
    line-height: 1.6;
    font-family: 'Pretendard-Regular';
    overflow-x: hidden;
    overflow-y: auto;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: middle;
    border: none;
}
input,
button,
textarea {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: normal;
}
ul,
ol,
li {
    list-style: none;
}
img,
fieldset,
input {
    border: none;
    vertical-align: middle;

    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    
}

input::placeholder,
textarea::placeholder {
    color: #939393;
    font-weight: 300;
}
/* input::-webkit-input-placeholder {} */

.clear:after {
    content: '';
    display: block;
    clear: both;
}
.hide {
    height: 0;
    font-size: 1px;
    overflow: hidden;
}
/* .fixed {
    width: 1200px;
    margin: 0 auto;
} */
legend {
    display: none;
}

img[src$='.gif'],
img[src$='.png'],
img[src$='.jpg'] {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
}

/* 기본화살표삭제 */
summary::-webkit-details-marker { /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
}
summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
}





