@charset "UTF-8";
.wrap{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

img{ width: 100%;}

/* main */
.main{
    margin-bottom: 80px;
}

/* date */
.date{
    margin-bottom: 70px;
}
.date_top{
    font-family: 'BookkMyungjo-Bd';
    display: inline-block;
    padding: 0.9em 2.3em;
    border: 1px solid #99d0ff;   
    border-radius: 60px / 23px;
    font-size: 11px;
    background-color: transparent;
    color: #99d0ff;
    margin-bottom: 8px;
}

/* invite_card */
.invite_card{
    max-width: 264px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* comment */
.comment{
    margin-bottom: 40px;
}

/* name */
.name{
    margin-bottom: 70px;
}
.groom_name{
    margin-bottom: 25px;
}
.fwb{
    font-weight: bold;
}

/* picture */

/* parents_comment */
.parents_comment p{
    margin-bottom: 10px;
}

.groom_parents{
    margin-bottom: 70px;
}

.parents_comment{
    background-color: #99d0ff;
    padding: 80px 0;
    color: #121212;
}


.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.play-button-css {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.play-button-css::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto; /* 자동 높이 */
  cursor: pointer;
}

.video-wrapper iframe {
  width: 100%;
  height: 225px; /* iframe도 명확하게 높이 지정 */
  display: block;
}
.video-thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

/* we_comment */
.we_comment{
    background-color: #fff;
}
.bride_comment{
    margin-bottom: 50px;
}